.aboutMeContent {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.addLogoTextDiv {
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
}
.addLogoTextDiv input {
  min-width: 250px;
}
@media only screen and (max-width: 1000px) {
  .aboutMeContent {
    justify-content: center;
  }
  .addLogoTextDiv {
    flex-direction: column;
    justify-content: center;
  }
  .addLogoTextDiv button {
    margin: 10px 0 0 0;
  }
}
