.changeLogoDiv {
  margin: 5px 10px;
  width: 100%;
}
.input {
  width: 50vw;
}
.todoDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.passingText {
  display: flex;
  margin: 50px;
}
